.red, .green, .blue{
    width: 80%;
    height: 500px;
    margin-inline: auto;
    margin-bottom: 5px;
}

.red{
    position: relative;
    z-index: auto;
    background-color: rgb(204, 122, 241);
}
.green{
    position: relative;
    z-index: auto;
    background-color:rgb(126, 57, 158);
}

.blue{
    position: relative;
    z-index: auto;
    background-color: rgb(62, 38, 73);
}

.trash{
    height: 200vh;
    background-color: #494646;
}